html {
  /*scroll-behavior: smooth;*/
 }

#home_logo{
	position: fixed;
	z-index: 999;
	margin-top: 10px;
	height: 146px;
	width: 61px;
	background-size: 61px 146px;
	background-image: url(image/home_light.png);
	transition: 0.2s;
	opacity: 0.8;
}
#home_logo:hover{
	background-image: url(image/home_dark.png);
	opacity: 1;
}


@media only screen and (min-width: 1031px){

body{
	margin:0;
}

#home_body{
	background: #121314;
}

#about_me{
	height: 820px;
	margin-left: 200px;
	
}

#about_me h3{
	padding-top: 200px;
	font-family: PT Sans;
	font-size: 50px;
	color: #F0F0F0;
	letter-spacing: 0.05em;
	margin-top: 0;
}

#about_me p{
	font-family: PT Sans;
	font-size: 20px;
	line-height: 30px;
	color: #F0F0F0;
	letter-spacing: 0.05em;
	width: 700px;
	margin-bottom: 80px;
}

#img1{
	float: left;
	width: 2%;
}

#img2{
	float: left;
	margin-left: 20px;
	margin-top: 3px;
	width: 2.5%
}

#img3{
	float: left; margin-top: 50px;
}

#img4{
	float: left;
	margin-left: 20px;
	margin-top: 52px;
}

#home{
	width: auto;
	height: auto;
	background: #121314;
	margin-bottom: 15px;
}

#home p{
	font-family: PT Sans;
	letter-spacing: 0.05em;
}

#neon{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 80px;
	width: 30%;
}

#home .title{
	color: rgb(220,220,220);
	font-size: 14px;
}

#portfolio{
	height: auto;
	margin-bottom: 70px;
	padding-top: 80px;
	padding-left: 120px;
	display: block;
	float: left;
	width: 60%;
}

#navigation{
	width: 20%;
	/*height: 725px;*/
	/*background: red;*/
	float: left;
	padding-top: 100px;
	padding-left: 100px;
}

#navigation p{
	text-align: left;
	font-size: 18px;
	font-family:PT Sans;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 0.05em;
}
#port_title{
	visibility: hidden;
	text-align: center;
	font-size: 20px;
	font-family:Optima, sans-serif;
	/*margin-bottom: 50px;*/
}
#portfolio p{
	text-align: center;
	font-size: 13px;
	font-family:PT Sans;
	/*margin-bottom: 50px;*/
	/*text-align: center;*/
	color: #F0F0F0;
	letter-spacing: 0.05em;
	line-height: 18px;
}

#portfolio h3{
	text-align: center;
	margin-top: 120px;
	font-family:PT Sans;
	color: #F0F0F0;
	letter-spacing: 0.05em;
}
.box{
	width: 360px;
	height: 288px;
	/*background: rgb(100,100,100);*/
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	background-size: 360px 288px;
}

.description p{
	color: #F0F0F0;
	letter-spacing: 0.05em;
}

#uiux_nav{
	cursor: pointer;
	color: rgb(250,250,250);
}
#artwork_nav{
	cursor: pointer;
	color: rgb(160,160,160);
}
#graphic_design_nav{
	cursor: pointer;
	color: rgb(160,160,160);
}
#uiux{
	display: initial;
}

#artwork{
	display: none;
}


#graphic_design{
	display: none;
}

#navigation #copyright{
	margin-top: 470px; 
	color: #F0F0F0; 
	font-weight: normal; 
	font-size: 15px; 
	color: rgb(160,160,160);
}




#box1{background-image: url(image/cdcweb.jpg);}
#box1 p{visibility: hidden;}
#box1 h3{visibility: hidden;}
#box1:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/cdcweb.jpg);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box1:hover p{visibility: visible;}
#box1:hover h3{visibility: visible;}

#box2{background-image: url(image/animaze.png);}
#box2 p{visibility: hidden;}
#box2:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/animaze.png);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box2:hover p{visibility: visible;}


#box3:hover p{visibility: visible;}

#box4{background-image: url(image/cycleccoon.jpg);}
#box4 p{visibility: hidden;}
#box4:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/cycleccoon.jpg);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box4:hover p{visibility: visible;}

#box5{background-image: url(image/moodi.png);}
#box5 p{visibility: hidden;}
#box5:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/moodi.png);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box5:hover p{visibility: visible;}

#box6{background-image: url(image/river.png);}
#box6 p{visibility: hidden;}
#box6:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(mage/river.png);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box6:hover p{visibility: visible;}

#box7{background-image: url(image/corner.png);}
#box7 p{visibility: hidden;}
#box7:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/corner.png);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box7:hover p{visibility: visible;}

#box8{background-image: url(image/salton.jpg);}
#box8 p{visibility: hidden;}
#box8:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/salton.jpg);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box8:hover p{visibility: visible;}

#box9{background-image: url(image/cool.png);}
#box9 p{visibility: hidden;}
#box9:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/cool.png);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box9:hover p{visibility: visible;}

#box10{background-image: url(image/triangle.jpg);}
#box10 p{visibility: hidden;}
#box10:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/triangle.jpg);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box10:hover p{visibility: visible;}

#box11{background-image: url(image/solemate.jpg);}
#box11 p{visibility: hidden;}
#box11:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/solemate.jpg);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box11:hover p{visibility: visible;}

#box12{background-image: url(image/LB.jpg);}
#box12 p{visibility: hidden;}
#box12:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/solemate.jpg);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box12:hover p{visibility: visible;}

#box13{background-image: url(image/t-shirt.jpg);}
#box13 p{visibility: hidden;}
#box13:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/solemate.jpg);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box13:hover p{visibility: visible;}

#box14{background-image: url(image/flap.jpg);}
#box14 p{visibility: hidden;}
#box14:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/solemate.jpg);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box14:hover p{visibility: visible;}

#box15{background-image: url(image/meetful.jpg);}
#box15 p{visibility: hidden;}
#box15:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/solemate.jpg);*/
	 background-size: 400px 320px;
	 background: #121314;
}
#box15:hover p{visibility: visible;}






#box2 h3{visibility: hidden;}
#box3 h3{visibility: hidden;}
#box4 h3{visibility: hidden;}
#box5 h3{visibility: hidden;}
#box6 h3{visibility: hidden;}
#box7 h3{visibility: hidden;}
#box8 h3{visibility: hidden;}
#box9 h3{visibility: hidden;}
#box10 h3{visibility: hidden;}
#box11 h3{visibility: hidden;}
#box12 h3{visibility: hidden;}
#box13 h3{visibility: hidden;}
#box14 h3{visibility: hidden;}
#box15 h3{visibility: hidden;}

#box2:hover h3{visibility: visible;}
#box3:hover h3{visibility: visible;}
#box4:hover h3{visibility: visible;}
#box5:hover h3{visibility: visible;}
#box6:hover h3{visibility: visible;}
#box7:hover h3{visibility: visible;}
#box8:hover h3{visibility: visible;}
#box9:hover h3{visibility: visible;}
#box10:hover h3{visibility: visible;}
#box11:hover h3{visibility: visible;}
#box12:hover h3{visibility: visible;}
#box13:hover h3{visibility: visible;}
#box14:hover h3{visibility: visible;}
#box15:hover h3{visibility: visible;}
}

.description{
	display: none;
}



p{
	font-size: 17px;
	/*letter-spacing: 1px;*/
	/*word-spacing: 1px;*/
	line-height: 27px;
}




/*-------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 760px) and (max-width: 1030px){
	body{
	margin:0;
	}

	.content{
		width: 90% !important; 
		height: 100% !important;
	}

	#des2{
		margin-left: 80px;
		width: 500px;
	}

	#home_body{
		background: #121314;
	}

	#about_me{
		height: auto;
		margin-left: 50px;
		margin-bottom: 400px;
		margin-top: 100px
		
	}

	#about_me h3{
		padding-top: 25px;
		font-family: PT Sans;
		font-size: 40px;
		color: #F0F0F0;
		letter-spacing: 0.05em;
	}

	#about_me p{
		font-family: PT Sans;
		font-size: 16px;
		line-height: 30px;
		color: #F0F0F0;
		letter-spacing: 0.05em;
		width: 600px;
		margin-bottom: 30px;
	}

	#img1{
		float: left;
		width: 3%;
	}

	#img2{
		float: left;
		margin-left: 20px;
		margin-top: 3px;
		width: 4%;
	}

	#img3{
		display: none;
		position: fixed;
		bottom: 0;
		margin-top: 50px;
	}

	#img4{
		display: none;
		position: fixed;
		bottom: 0;
		margin-left: 20px;
		margin-top: 52px;
	}

	#home{
		width: auto;
		height: auto;
		background: #121314;
	}

	#home p{
		font-family: PT Sans;
		letter-spacing: 0.05em;
	}

	#neon{
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		width: 50%;
	}

	#home .title{
		color: rgb(220,220,220);
		font-size: 14px;
	}

	#portfolio{
		height: auto;
		margin-bottom: 100px;
		padding-top: 20px;
		padding-left: 40px;
		display: block;
		float: left;
		width: 100%;
	}

	#navigation{
		width: 700px;
		/*height: 725px;*/
		/*background: red;*/
		float: left;
		padding-top: 100px;
		padding-left: 20px;
	}

	#navigation p{
		text-align: left;
		font-size: 14px;
		font-family:PT Sans;
		font-weight: bold;
		line-height: 30px;
		letter-spacing: 0.05em;
		float: left;
		padding-left: 20px;
	}
	#port_title{
		visibility: hidden;
		text-align: center;
		font-size: 20px;
		font-family:Optima, sans-serif;
		/*margin-bottom: 50px;*/
	}
	#portfolio p{
		text-align: center;
		font-size: 13px;
		font-family:PT Sans;
		/*margin-bottom: 50px;*/
		/*text-align: center;*/
		color: #F0F0F0;
		letter-spacing: 0.05em;
		visibility: hidden;
		line-height: 17px;
	}

	#portfolio h3{
		text-align: center;
		margin-top: 40px;
		font-family:PT Sans;
		color: #F0F0F0;
		letter-spacing: 0.05em;
		visibility: hidden;
	}


	.description p{
		color: #F0F0F0;
		letter-spacing: 0.05em;
	}

	#uiux_nav{
		cursor: pointer;
		color: rgb(250,250,250);
	}
	#artwork_nav{
		cursor: pointer;
		color: rgb(160,160,160);
	}
	#graphic_design_nav{
		cursor: pointer;
		color: rgb(160,160,160);
	}
	#uiux{
		display: initial;
	}

	#artwork{
		display: none;
	}


	#graphic_design{
		display: none;
	}

	#navigation #copyright{
		display: none;
		margin-top: 470px; 
		color: #F0F0F0; 
		font-weight: normal; 
		font-size: 15px; 
		color: rgb(160,160,160);
	}

	#copyright2{
		float: left;
		font-family:PT Sans;
		color: #F0F0F0;
		letter-spacing: 0.05em;
		font-size: 15px;
		color: rgb(160,160,160);
		padding-left: 20%;
	}



	.box{
		width: 680px;
		height: 544px;
		/*background: rgb(100,100,100);*/
		float: none;
		margin-left: 0px;
		margin-right: 20px;
		margin-top: 10px;
		background-size: 100% 100%;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
	}
	


	#box1{background-image: url(image/cdcweb.jpg);}
	#box2{background-image: url(image/animaze.png);}
	#box4{background-image: url(image/cycleccoon.jpg);}
	#box5{background-image: url(image/moodi.png);}
	#box6{background-image: url(image/river.png);}
	#box7{background-image: url(image/corner.png);}
	#box8{background-image: url(image/salton.jpg);}
	#box9{background-image: url(image/cool.png);}
	#box10{background-image: url(image/triangle.jpg);}
	#box11{background-image: url(image/solemate.jpg);}
	#box12{background-image: url(image/LB.jpg);}
	#box13{background-image: url(image/t-shirt.jpg);}
	#box14{background-image: url(image/flap.jpg);}
	#box15{background-image: url(image/meetful.jpg);}

	#port_title{
		visibility: visible;
		font-weight: normal;
		font-size: 18px;
	}
	.description{
		display: block;
		
	}
	#portfolio .description h3{
		visibility: visible;
		text-align: left;
		margin-top: 8px;
		margin-bottom: 0;
		font-size: 18px;
	}

	#portfolio .description p{
		visibility: visible;
		text-align: left;
		margin: 0;
	}

	a{
		text-decoration: none;
	}

	
	

}




/*-------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 759px){
	body{
	margin:0;
	}

	#home_body{
		background: #121314;
	}

	#about_me{
		height: auto;
		margin-left: 50px;
		margin-bottom: 200px;
		
	}

	#about_me h3{
		padding-top: 25px;
		font-family: PT Sans;
		font-size: 40px;
		color: #F0F0F0;
		letter-spacing: 0.05em;
	}

	#about_me p{
		font-family: PT Sans;
		font-size: 16px;
		line-height: 30px;
		color: #F0F0F0;
		letter-spacing: 0.05em;
		width: 300px;
		margin-bottom: 30px;
	}

	#img1{
		float: left;
		width: 10%
	}

	#img2{
		float: left;
		margin-left: 20px;
		margin-top: 3px;
		width: 13%;
	}

	#img3{
		display: none;
		position: fixed;
		bottom: 0;
		margin-top: 50px;
	}

	#img4{
		display: none;
		position: fixed;
		bottom: 0;
		margin-left: 20px;
		margin-top: 52px;
	}

	#home{
		width: auto;
		height: auto;
		background: #121314;
	}

	#home p{
		font-family: PT Sans;
		letter-spacing: 0.05em;
	}

	#neon{
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-top: 80px;
		margin-top: 30px;
		margin-bottom: 30px;
		width: 50%;
	}

	#home .title{
		color: rgb(220,220,220);
		font-size: 14px;
	}

	#portfolio{
		height: auto;
		margin-bottom: 100px;
		padding-top: 20px;
		padding-left: 15px;
		display: block;
		float: left;
		width: 60%;
	}

	#navigation{
		width: auto;
		/*height: 725px;*/
		/*background: red;*/
		float: left;
		padding-top: 100px;
		padding-left: 20px;
	}

	#navigation p{
		text-align: left;
		font-size: 14px;
		font-family:PT Sans;
		font-weight: bold;
		line-height: 30px;
		letter-spacing: 0.05em;
		float: left;
		padding-left: 20px;
	}
	#port_title{
		visibility: hidden;
		text-align: center;
		font-size: 20px;
		font-family:Optima, sans-serif;
		/*margin-bottom: 50px;*/
	}
	#portfolio p{
		text-align: center;
		font-size: 13px;
		font-family:PT Sans;
		/*margin-bottom: 50px;*/
		/*text-align: center;*/
		color: #F0F0F0;
		letter-spacing: 0.05em;
		visibility: hidden;
		line-height: 18px;
	}

	#portfolio h3{
		text-align: center;
		margin-top: 40px;
		font-family:PT Sans;
		color: #F0F0F0;
		letter-spacing: 0.05em;
		visibility: hidden;
		line-height: 42px;
		line-height: 20px;
	}


	.description p{
		color: #F0F0F0;
		letter-spacing: 0.05em;
	}
	a{
		text-decoration: none;
	}

	#uiux_nav{
		cursor: pointer;
		color: rgb(250,250,250);
	}
	#artwork_nav{
		cursor: pointer;
		color: rgb(160,160,160);
	}
	#graphic_design_nav{
		cursor: pointer;
		color: rgb(160,160,160);
	}
	#uiux{
		display: initial;
	}

	#artwork{
		display: none;
	}


	#graphic_design{
		display: none;
	}

	#navigation #copyright{
		display: none;
		margin-top: 470px; 
		color: #F0F0F0; 
		font-weight: normal; 
		font-size: 15px; 
		color: rgb(160,160,160);
	}




	.box{
		width: 340px;
		height: 272px;
		/*background: rgb(100,100,100);*/
		float: none;
		margin-left: 0px;
		margin-right: 0;
		margin-top: 10px;
		background-size: 100% 100%;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08), 0 3px 20px 0 rgba(0, 0, 0, 0.12);

		}
	
	

	#box1{background-image: url(image/cdcweb.jpg);}
	#box2{background-image: url(image/animaze.png);}
	#box4{background-image: url(image/cycleccoon.jpg);}
	#box5{background-image: url(image/moodi.png);}
	#box6{background-image: url(image/river.png);}
	#box7{background-image: url(image/corner.png);}
	#box8{background-image: url(image/salton.jpg);}
	#box9{background-image: url(image/cool.png);}
	#box10{background-image: url(image/triangle.jpg);}
	#box11{background-image: url(image/solemate.jpg);}
	#box12{background-image: url(image/LB.jpg);}
	#box13{background-image: url(image/t-shirt.jpg);}
	#box14{background-image: url(image/flap.jpg);}
	#box15{background-image: url(image/meetful.jpg);}

	#port_title{
		visibility: visible;
		font-weight: normal;
		font-size: 18px;
	}
	.description{
			display: block;
	}
	#portfolio .description h3{
		visibility: visible;
		text-align: left;
		margin-top: 8px;
		margin-bottom: 0;
		font-size: 18px;
	}

	#portfolio .description p{
		visibility: visible;
		text-align: left;
		margin: 0;
	}
	
	

}

















