
body{
	margin:0;
}
#header{
	height: 110px;
	margin:auto;
	padding-top: 5px;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    background: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
}

.name{
	width: 7%;
	/*height: 100px;*/
	float: left;
	font-size: 24px;
	line-height: 65px;
	padding-left: 30px;
	/*font-family: Courier New;*/
	font-family: Optima;
}
.nav{
	/*width: 30%;*/
	height: 100px;
	float: right;
	margin-right: 20px;
}

.nav ul li{
	/*width: 150px;*/
	/*height: 100px;*/
	float: left;
	padding-left: 30px;
	padding-top: 40px;
	list-style: none;
}

.nav ul li a{
	text-decoration: none;
	font-family: Optima, sans-serif;
	font-size: 14px;
	letter-spacing: 0.7px;
	color: black;
	/*font-family: Arial;*/
}
.nav1:hover{
	text-decoration: underline;
}
.nav2:hover{
	text-decoration: underline;
}
.nav3:hover{
	text-decoration: underline;
}
.nav4:hover{
	text-decoration: underline;
}

#home{
	/*width: 1420px;*/
	width: auto;
	/*height: 800px;*/
	background: rgb(0);
	margin-top: 25px;
	/*padding-top: 145px;*/
}

#portfolio{
	/*width: 100%;*/
	height: 1500px;
	margin-top: 50px;
	padding-top: 2%;
	padding-left: 70px;
	/*padding-right: 50px;*/
	display: block;

}
#port_title{
	visibility: hidden;
	text-align: center;
	font-size: 20px;
	font-family:Optima, sans-serif;
	/*margin-bottom: 50px;*/
}
#portfolio p{
	text-align: center;
	font-size: 12px;
	font-family:Optima, sans-serif;
	/*margin-bottom: 50px;*/
	/*text-align: center;*/
	color: black;
}

#portfolio h3{
	text-align: center;
	margin-top: 140px;
	font-family:Optima, sans-serif;
	color: black;
}
.box{
	width: 400px;
	height: 320px;
	/*background: rgb(100,100,100);*/
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
	background-size: 400px 320px;
}


@media only screen and (min-width: 451px){

#box1{background-image: url(image/recipedia.png);}
#box1 p{visibility: hidden;}
#box1 h3{visibility: hidden;}
#box1:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/recipedia.png);*/
	 background-size: 400px 320px;
	 background: white;
}
#box1:hover p{visibility: visible;}
#box1:hover h3{visibility: visible;}

#box2{background-image: url(image/animaze.png);}
#box2 p{visibility: hidden;}
#box2:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/animaze.png);*/
	 background-size: 400px 320px;
	 background: white;
}
#box2:hover p{visibility: visible;}

#box3{background-image: url(image/t-shirt.jpg);}
#box3 p{visibility: hidden;}
#box3:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/t-shirt.jpg);*/
	 background-size: 400px 320px;
	  background: white;
}
#box3:hover p{visibility: visible;}

#box4{background-image: url(image/cycleccoon.jpg);}
#box4 p{visibility: hidden;}
#box4:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/cycleccoon.jpg);*/
	 background-size: 400px 320px;
	 background: white;
}
#box4:hover p{visibility: visible;}

#box5{background-image: url(image/moodi.png);}
#box5 p{visibility: hidden;}
#box5:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/moodi.png);*/
	 background-size: 400px 320px;
	  background: white;
}
#box5:hover p{visibility: visible;}

#box6{background-image: url(image/river.png);}
#box6 p{visibility: hidden;}
#box6:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(mage/river.png);*/
	 background-size: 400px 320px;
	 background: white;
}
#box6:hover p{visibility: visible;}

#box7{background-image: url(image/corner.png);}
#box7 p{visibility: hidden;}
#box7:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/corner.png);*/
	 background-size: 400px 320px;
	 background: white;
}
#box7:hover p{visibility: visible;}

#box8{background-image: url(image/salton.jpg);}
#box8 p{visibility: hidden;}
#box8:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/salton.jpg);*/
	 background-size: 400px 320px;
	  background: white;
}
#box8:hover p{visibility: visible;}

#box9{background-image: url(image/cool.png);}
#box9 p{visibility: hidden;}
#box9:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/cool.png);*/
	 background-size: 400px 320px;
	 background: white;
}
#box9:hover p{visibility: visible;}

#box10{background-image: url(image/triangle.jpg);}
#box10 p{visibility: hidden;}
#box10:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/triangle.jpg);*/
	 background-size: 400px 320px;
	 background: white;
}
#box10:hover p{visibility: visible;}

#box11{background-image: url(image/solemate.jpg);}
#box11 p{visibility: hidden;}
#box11:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/solemate.jpg);*/
	 background-size: 400px 320px;
	 background: white;
}
#box11:hover p{visibility: visible;}

#box12{background-image: url(image/LB.jpg);}
#box12 p{visibility: hidden;}
#box12:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/solemate.jpg);*/
	 background-size: 400px 320px;
	 background: white;
}
#box12:hover p{visibility: visible;}

#box13{background-image: url(image/cdc.jpg);}
#box13 p{visibility: hidden;}
#box13:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/solemate.jpg);*/
	 background-size: 400px 320px;
	 background: white;
}
#box13:hover p{visibility: visible;}

#box14{background-image: url(image/youtuber_hunter.jpg);}
#box14 p{visibility: hidden;}
#box14:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/solemate.jpg);*/
	 background-size: 400px 320px;
	 background: white;
}
#box14:hover p{visibility: visible;}

#box15{background-image: url(image/meetful.jpg);}
#box15 p{visibility: hidden;}
#box15:hover{
	 /*background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(image/solemate.jpg);*/
	 background-size: 400px 320px;
	 background: white;
}
#box15:hover p{visibility: visible;}



#box2 h3{visibility: hidden;}
#box3 h3{visibility: hidden;}
#box4 h3{visibility: hidden;}
#box5 h3{visibility: hidden;}
#box6 h3{visibility: hidden;}
#box7 h3{visibility: hidden;}
#box8 h3{visibility: hidden;}
#box9 h3{visibility: hidden;}
#box10 h3{visibility: hidden;}
#box11 h3{visibility: hidden;}
#box12 h3{visibility: hidden;}
#box13 h3{visibility: hidden;}
#box14 h3{visibility: hidden;}
#box15 h3{visibility: hidden;}

#box2:hover h3{visibility: visible;}
#box3:hover h3{visibility: visible;}
#box4:hover h3{visibility: visible;}
#box5:hover h3{visibility: visible;}
#box6:hover h3{visibility: visible;}
#box7:hover h3{visibility: visible;}
#box8:hover h3{visibility: visible;}
#box9:hover h3{visibility: visible;}
#box10:hover h3{visibility: visible;}
#box11:hover h3{visibility: visible;}
#box12:hover h3{visibility: visible;}
#box13:hover h3{visibility: visible;}
#box14:hover h3{visibility: visible;}
#box15:hover h3{visibility: visible;}
}

.description{
	display: none;
}


#about_me{
	float: left;
	height: 500px;
	background: rgb(90,90,90);
	/*margin-top: 20px;*/
	padding-top: 230px;
	padding-left: 50px;
	margin-top: 50px;
}
#about_me img{
	float: left; 
	margin-left: 200px; 
}
#about_me p{
	color: white;
	font-size:20px; 
	font-family: Optima, sans-serif; 
	float: left;
	margin-left: 100px; 
	line-height: 30px; 
	margin-top: 80px;
}
#about_me a{
	color: white;
	font-size:20px;
	font-family: Optima, sans-serif;
	float: left; margin-left: 100px;
	line-height: 30px;
}
#contact{
	height: 80px;
	/*background: rgb(200,200,200);*/
	/*margin-top: 20px;*/
	float: left;
	font-family: Optima, sans-serif;
	color: black;
	padding-left: 37%;
	padding-top: 30px;
	width: auto;
	background: white;
}
#email{
	height: 50px;
	float: left;
	margin-left: 30px;
}
p{
	font-size: 17px;
	/*letter-spacing: 1px;*/
	/*word-spacing: 1px;*/
	line-height: 27px;
}









/*-------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 450px){
	.name h2{
		font-size: 23px;
		margin-top: 5px;
	}
	#header{
		height: 80px;
	}
	.nav{
		float: right;
		position: relative;
		z-index: 1;
		display: none;
	}
	.nav ul li{
		/*width: 150px;*/
		/*height: 100px;*/
		float: none;
		padding-left: 30px;
		padding-top: 40px;
		list-style: none;
		background: white;
	}
	.nav ul li a{
		text-align: center;
	}
	#portfolio{
		height: auto;
		margin-top: 0;
		padding-top: 20px;
		padding-left: 0;
		display: block;
	}
	.box{
		width: 340px;
		height: 272px;
		/*background: rgb(100,100,100);*/
		float: none;
		margin-left: 0px;
		margin-right: 0;
		margin-top: 10px;
		background-size: 100% 100%;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08), 0 3px 20px 0 rgba(0, 0, 0, 0.12);

		}
	#about_me{
		float: left;
		height: auto;
		background: rgb(90,90,90);
		/*margin-top: 20px;*/
		padding-top: 30px;
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 50px;
		padding-bottom: 20px;
	}
	#about_me img{
		margin-left: 15%;
		width: 70%;
	}
	#about_me p{
		margin-top: 10px;
		margin-left: 0px;
		font-size: 15px;
		line-height: 22px;
	}
	#about_me a{
		margin: 0;
	
	}
	#home{
		padding-top: 40px;
	}
	#portfolio{
	  padding-left: 16px;
	  padding-right: 15px;
	}
	#portfolio h3{
		visibility: hidden;
		margin-top: 40px;
	}
	#portfolio p{
		visibility: hidden;
	}
	

	#box1{background-image: url(image/recipedia.png);}
	#box2{background-image: url(image/animaze.png);}
	#box3{background-image: url(image/t-shirt.jpg);}
	#box4{background-image: url(image/cycleccoon.jpg);}
	#box5{background-image: url(image/moodi.png);}
	#box6{background-image: url(image/river.png);}
	#box7{background-image: url(image/corner.png);}
	#box8{background-image: url(image/salton.jpg);}
	#box9{background-image: url(image/cool.png);}
	#box10{background-image: url(image/triangle.jpg);}
	#box11{background-image: url(image/solemate.jpg);}
	#box12{background-image: url(image/LB.jpg);}
	#box13{background-image: url(image/cdc.jpg);}
	#box14{background-image: url(image/youtuber_hunter.jpg);}
	#box15{background-image: url(image/meetful.jpg);}

	#port_title{
	visibility: visible;
	font-weight: normal;
	font-size: 18px;
	}
	.description{
		display: block;
	}
	#portfolio .description h3{
		visibility: visible;
		text-align: left;
		margin-top: 8px;
		margin-bottom: 0;
		font-size: 18px;
	}

	#portfolio .description p{
		visibility: visible;
		text-align: left;
		margin: 0;
	}
	#contact{
		padding-left: 20px;
		margin-bottom: 20px;
	}
	#email{
		margin-left: 20px;
	}

	*, *:before, *:after { box-sizing: border-box; }

	html { font-size: 18px; }

	body {
	  font-family: Optima;
	  font-size: 1.2em;
	  line-height: 1.6;
	  /*background: #61B2A0;*/
	  overflow-x: hidden;
	}

	label .menu {
	  position: fixed;
	  right: -100px;
	  top: -95px;
	  z-index: 100;
	  width: 200px;
	  height: 150px;
	  -webkit-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
	  cursor: pointer;
	}

	label .hamburger {
	  position: absolute;
	  top: 135px;
	  left: 50px;
	  width: 30px;
	  height: 2px;
	  background: #000;
	  display: block;
	  -webkit-transform-origin: center;
	  transform-origin: center;
	  -webkit-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	}

	label .hamburger:after, label .hamburger:before {
	  -webkit-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  content: "";
	  position: absolute;
	  display: block;
	  width: 100%;
	  height: 100%;
	  background: #000;
	}

	label .hamburger:before { top: -10px; }

	label .hamburger:after { bottom: -10px; }

	label input { display: none; }

	label input:checked + .menu {
	  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
	  border-radius: 0;
	}

	label input:checked + .menu .hamburger {
	  -webkit-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	label input:checked + .menu .hamburger:after {
	  -webkit-transform: rotate(90deg);
	  transform: rotate(90deg);
	  bottom: 0;
	}

	label input:checked + .menu .hamburger:before {
	  -webkit-transform: rotate(90deg);
	  transform: rotate(90deg);
	  top: 0;
	}

	label input:checked + .menu + ul { 
		/*opacity: 1; */
		display: block;
	}


	label input:checked + #home{
		margin-top: 1000px;
	}




	label ul {
	  z-index: 200;
	  position: fixed;
	  top: 50%;
	  left: 45%;
	  -webkit-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  /*opacity: 0;*/
	  display: none;
	  -webkit-transition: .25s 0s ease-in-out;
	  transition: .25s 0s ease-in-out;
	  list-style: none;
	}

	label a {
	  margin-bottom: 1em;
	  font-size: 20px;
	  display: block;
	  color: #000;
	  text-decoration: none;
	  text-align: center;
	}

}




