/* 
Regular 400
Medium 500
Semi-bold 600
Bold 700 
*/

/* ------------------------------------------------------------ */
/* Main */

*{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

p{
    line-height: 1.8em;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #171819;
    overflow-x: hidden;
}

@media only screen and (max-width: 450px){
    body{
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

/* set project nav color */
.project{
    background-color: #ffffff;
    padding-left: 0vw;
    padding-right: 0vw;
}

/* ------------------------------------------------------------ */
/* Top Nav */


.top-nav-logo a{
    z-index: 2;
    position: absolute;
    left: 5vw;
    top: 7vh;
    cursor: pointer;
    text-decoration: none;
}

.top-nav-right{
    position: absolute;
    top: 7vh;
    right: 5vw;
    z-index: 2;
}

@media only screen and (max-width: 450px){
    .top-nav-right{
        right: 7vw;
    }

    .top-nav img{
        width: 80px !important;
    }
}

.top-nav-right a{
    color: #C6C6C6;
    font-size: 20px;
    font-weight: 300;
    margin-left: 36px;
    text-decoration: none;
    transition: 0.3s;
}

@media only screen and (max-width: 450px){
    .top-nav-right a{
        font-size: 16px;
        margin-left: 1em;
    }
}

.top-nav-right a:hover{
    color: #22C392;
}

@media only screen and (min-width: 451px){
    /* fixed rotating cube */
    .project canvas {
        position: fixed !important;
    }
}

@media only screen and (max-width: 450px){
    .project canvas {
        position: block !important;
    }
}

/* ------------------------------------------------------------ */
/* Project Top Nav */

/* @media only screen and (min-width: 451px){ */
    #navbar{
        height: 120px;
        background-color: #ffffff;
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        display: block;
        transition: top 0.3s;
        }
    
    #navbar-dark{
        height: 120px;
        background-color: #171819;
        position: fixed;
        z-index: 2;
        top: 0;
        left:0;
        width: 100%;
        display: block;
        transition: top 0.3s;
        }



.project .top-nav-right a{
    color: #4e4e4e;
}

.project .top-nav-right a:hover{
    color: #000000;
}



/* ------------------------------------------------------------ */
/* Home */

.gradient{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(90deg, #171819 0%, #171819FB 22%, #171819BE 52%, #17181931 77%, #171819D3 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: -1;
    position: fixed;
}

.home-main{
    margin-top: 18%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media only screen and (min-width: 450px) and (max-width: 1000px){
    .home-main{
        margin-top: 35vh;
        width: 100%;
    }    
}

@media only screen and (max-width: 450px){
    .home-main{
        margin-top: 25vh;
        width: 100%;
    }    
}

.home-h1{
    font-size: 100px;
    color: #E6E6E6;
    line-height: 1em;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.line1{
    width: 450px;
}

.line2{
    width: 700px;
}


@media only screen and (max-width: 450px){
    .home-h1{
        font-size: 54px;
        width: auto;
    }
}

/* text reveal animation */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --bg-color: #171819;
}

.home-h1{
    position: relative;
    overflow: hidden;
    display: block;
}

.home-h1::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 1s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 1s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-h1:nth-of-type(1)::before,
.home-h1:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-h1:nth-of-type(2)::before,
.home-h1:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.home-p{
    font-size: 20px;
    color: #D0D0D0;
    margin-bottom: 3em;
    width: 600px;
    padding-top: 3vh;
}

@media only screen and (max-width: 450px){
    .home-p{
        font-size: 20px;
        width: auto;
    }
}

.view-my-work{
    width: 220px;
    height: 56px;
    border: 1px solid #22C392;
    opacity: 1;
    padding: 32px, 32px, 20px, 32px;
    margin-top: 3vh;
    border-radius: 30px;
    background-color: #171819;
    color: #22C392;
    font-weight: 300;
    font-size: 20px;
    /* swipe right effect */
    box-shadow: inset 0 0 0 0 #22C392;
    transition: ease-out 0.2s;
    font-family: "Kanit", sans-serif;

}

.view-my-work:hover{
    box-shadow: inset 220px 0 0 0 #22C392;
    color: #171819;
}

.view-my-work:active{
    outline: none;
  }

/* ------------------------------------------------------------ */
/* work */

#work{
    height: auto;
    margin-top: 15vh;
    padding-top: 10vh;
}

@media only screen and (max-width: 450px){
    #work{
        margin-top: 5vh;
    }
}

.work-nav p{
    display: block;
    color: #C6C6C6;
    font-size: 18px;
    margin-bottom: 1.5em;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: 0.1em;
    /* Clickable area fits word width */
    width: fit-content;
}

.work-nav p:hover{
    /* add important so hover effect will not be overwrite by js */
    color: #22C392 !important;
}

@media only screen and (max-width: 450px){
    .work-nav p{
        font-size: 16px;
        margin-bottom: 0.5em;
    }
}

#nav-design{
    color: #22C392;
}





/* --------------------------------work------------------------------------- */
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.card-container{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.card-container{
    margin-top: 100px;
}

@keyframes appear2{
    from{
        opacity: 0;
        scale: 0.9;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.experiment-container{
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.bottom {
    position: absolute;
    bottom: 5vh;
    }
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.card-container img{
    width: 100%;
    border-radius: 15px 0 0 15px;
}

.year{
    color: #888888;
}

.title{
    margin-bottom: 6vh;
}

.title-intro h3{
    color: #22C392;
    margin-bottom: 0.6em;
    padding-right: 2vw;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 34px;
}

.title-intro p{
    color: #E6E6E6;
    padding-right: 2vw;
    font-weight: 200;
}

.nav-pills li{
    padding: 6px 12px 6px 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 30px;
    background-color: #2d2d30;
    color: #c0c0c0;
    font-size: 14px;
}

.card-container{
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #171819 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 40px #171819;
    border: 1px solid #3A3F45;
    border-radius: 15px;
    transition: transform 0.3s;
}

.card-container:hover{
    box-shadow: 0px 3px 40px #090909;
    transform: translateY(-7px);
    background: #1f1f21;
}


.card-container .col-sm-5{
    padding: 3vw;
}

@media only screen and (max-width: 450px){
    .bottom {
        position: relative;
        bottom: 0;
        }


    .card-container img{
        width: 100%;
        border-radius: 15px 15px 0 0;
    }    
}

@media only screen and (min-width: 450px) and (max-width: 1200px){
    .bottom {
        position: relative;
        bottom: 0;
    }

    .card-container{
        width:100%;
    }

    .card-container .col-sm-5{
        padding-right: 0;
    }
    
    .title-intro h3{
        font-size: 18px;
    }

    .title-intro p{
        font-size: 14px;
    }
}

/* ------------------------------------ */




.experiments-div{
    padding-top: 10vh;
    margin-top: 15vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#homepage-header{
    color: #E6E6E6;
    font-weight: 600;
    font-size: 48px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.experiments-div h3{
    margin-top: 8vh;
    color: #E6E6E6;
    font-size: 32px;
    font-weight:100;
    line-height: 160%;
    font-family: "Kanit", sans-serif;
}

#chat{
    margin-top: 20vh;
    margin-bottom: 10vh;
    line-height: 150%;
    color: #e6e6e6;
    font-weight: 200;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#chat a{
    font-weight: 200;
}

@media only screen and (max-width: 450px){
    #chat{
        font-size: 24px;
        margin-top: 10vh;
    }
    .experiments-div h3{
        margin-top: 10vh;
    }
}

/* gallery background */


.egor{
    width: 100%;
	height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(image/egor_cover.jpg);
    transition: ease-out 0.3s;
    border-radius: 15px;
}

.egor:hover{
    background-size: 105% 105%;
}


.animaze{
    width: 100%;
	height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(image/animaze_cover.jpg);
    transition: ease-out 0.3s;
    border-radius: 15px;
}

.animaze:hover{
    background-size: 105% 105%;
}



.off-the-wall{
    width: 100%;
	height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(image/off_the_wall_cover.jpg);
    transition: ease-out 0.3s;
    border-radius: 15px;
}

.off-the-wall:hover{
    background-size: 105% 105%;
}

.sooth{
    width: 100%;
	height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(image/sooth_cover.jpg);
    transition: ease-out 0.3s;
    border-radius: 15px;
}

.sooth:hover{
    background-size: 105% 105%;
}



/* ------------------------------------------------------------ */
/* About */

.about{
    margin-top: 18vh;
    height: auto;
}

.about-h1{
    font-size: 64px;
    color: #E6E6E6;
    line-height: 1em;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    letter-spacing: 0.01em;
    padding-bottom: 3vh;
}

#profile-img{
    width: 80%;
    border-radius: 15px;
}

@media only screen and (max-width: 450px){
    #profile-img{
        width: 100%;
    }
}

@media only screen and (max-width: 450px){
    .about-h1{
        margin-top: 1.8em;
    }
}

.about-p{
    font-size: 18px;
    color: #D0D0D0;
    margin-bottom: 2.2em;
}

#about-circle{
    width: 20%;
    position: absolute;
    left: 26.4vw;
    top: 40vh;
    animation: rotation 25s infinite linear;
}

@media only screen and (max-width: 450px){
    #about-circle{
        width: 30%;
        top: 48vh;
        left: 45vw;
    }
}


  
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
     transform: rotate(359deg);
    }
}

/* ------------------------------------------------------------ */
/* Experiments */

.experiments{
    margin-top: 5vh;
    height: auto;
}

.experiments a{
    text-decoration: none;
}

.experiments h5{
    color: #E6E6E6;
    font-size: 20px;
    margin-bottom: 0.2em;
}

.experiments p{
    color: #E6E6E6;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.3em;
}

.experiments .video-tag{
    position: absolute;
    top: 28px;
    left: 32px;
    width: 80px;
    height: 32px;
    background-color: rgba(25, 25, 28, 0.6);
    border-radius: 40px;
    backdrop-filter: blur(5px);
}

.experiments .video-tag p{
    line-height: 34px !important;
    text-align: center;
    margin-bottom: 0 !important;
}


.experiments .work-description{
    position: absolute;
    bottom: 8px;
    left: 32px;
    text-shadow: 1px 1px 8px black;
}

@media only screen and (max-width: 450px){
    .experiments .work-description{
        width: 250px;
    }
}

/* ------------------------------------------------------------ */
/* Project */
.project-body{
    padding-left: 5vw;
    padding-right: 5vw;
}



@media only screen and (max-width: 450px){
    .project-body{
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

.content{
    margin-top: 25vh;
}


@media only screen and (max-width: 450px){
    .content{
        margin-top: 20vh;
    }
}

.content p{
    color: #2e2e2e;
    font-size: 18px;
    font-weight: 300;
}


#annotation{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 4vh;
}

#image_w_annotation{
    margin-bottom: 1vh;
} 

.content ul{
    padding-left: 20px;
    list-style-type: circle;
}

.content li{
    color: #2e2e2e;
    font-size: 18px;
    line-height: 1.8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.title h1{
    font-size: 64px;
    color: #272727;
    font-weight: 500;
}

@media only screen and (max-width: 450px){
    .title h1{
        font-size: 36px;
    }
}

.overview{
    margin-top: 7vh;
}

@media only screen and (max-width: 450px){
    .overview{
        margin-top: 3vh;
    }
}

.overview p{
    font-size: 28px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    
}

#info{
    color: #747474;
    font-weight: medium;
    padding-top: 0.6vh;
}

.intro{
    margin-bottom: 15vh;
    margin-top: 10vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 450px){
    .intro{
        margin-bottom: 5vh;
        margin-top: 0;
    }
}

#subtitle1{
    color: #747474;
    font-weight: 300;
    font-family: "Kanit", sans-serif;
    margin-bottom: 0;
}

#subtitle2{
    line-height: 1.3em;
}

.role{
    padding-left: 4vw;
    margin-top: 7vh;
}

@media only screen and (max-width: 450px){
    .role{
        margin-top: 3vh;
    }
}

#previewImg{
    margin-top: 5vh;
}

@media only screen and (max-width: 450px){
    #previewImg{
        margin-top: 2vh;
    }
}


    #section-title{
    font-weight: 300;
    color: #272727;
    font-size: 22px;
    margin-bottom: 0.4em;
    text-transform: capitalize;
}

    #subtitle2{
    color: #272727;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 1em;
}

#subtitle3{
    padding-bottom: 0.5em;
}

.content img{
    margin-bottom: 5vh;
}


.content .small-img{
    width: 70%;
    margin-bottom: 0vh;
}

.content .small-small-img{
    width: 50%;
    margin-bottom: 0vh;
}

.corgi{
    width: 20%;
}

@media only screen and (max-width: 450px){
    .content .small-img{
        width: 100%;
    }
    
    .content img{
        margin-bottom: 3vh;
    }

    .corgi{
        width: 60%;
    }
}

.block{
    padding-bottom: 8vh;
    padding-top: 8vh;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 450px){
    .block{
        width: 100%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    } 
}

.next{
    background-color: #F4F4F4;
    background-image: linear-gradient(to left, transparent, transparent 50%, #62dcb7 50%,#62dcb7);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;

}

.next:hover{
    background-position: 0, 0;

}

.next:hover p{
    color: #373737;
}

.next a{
    text-decoration: none;
}

.next p{
    margin-left: 5vw;
    padding-top: 5vh;
    color: #373737;
    font-size: 24px;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

.next h1{
    margin-left: 5vw;
    padding-bottom: 5vh;
    color: #272727;
    font-size: 48px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
}

#arrow{
    position: absolute;
    right: 8vw;
    margin-top: 9vh;
    transition: ease-out 0.2s;
}

.next:hover #arrow{
    right: 6vw;
}

@media only screen and (max-width: 450px){
    #arrow{
        display: none;
    }
}

#gifBT{
    text-align: center; 
    padding: 8px;
    width: 120px; 
    background: rgb(50,50,50); 
    margin-top: 30px;
    color: yellow;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

#gifBT:hover{
    cursor: pointer;
}

#jnjtag{
    width: 23%;
}

@media only screen and (max-width: 450px){
    #jnjtag{
        width: 80%;
    }
}

#toogether-highlight{
    color: #3f3f3f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

#problem-statement{
    font-weight: 500;
    font-style: italic;
    font-size: 26px;
    text-align: center;
    margin-top: 3em;
    padding-left: 5vw;
    padding-right: 5vw;
}

#emphasized-text{
    font-weight: 500;
    font-style: italic;
    font-size: 26px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* ------------------------------------------------------------ */
/* Footer */

/* 
.footer{
    padding-top: 5vh;
    padding-bottom: 2vh;
} */


.footer{
    /* position: absolute; */
    bottom: 2vh;
    width: 90vw;
}

.contact{
    margin-bottom: 1em;
}

#about-footer{
    position: absolute;
    bottom: 2vh;
}

@media only screen and (max-width: 450px){
    .footer{
        position: relative;
        padding-top: 5vh;
        padding-bottom: 2vh;
    }
}

@media only screen and (max-height: 1000px){
    #about-footer{
        position: relative;
        padding-top: 5vh;
        padding-bottom: 2vh;
    }
}

@media only screen and (max-width: 1050px){
    #about-footer{
        position: relative;
        padding-top: 5vh;
        padding-bottom: 2vh;
    }
}

.contact a{
    text-decoration: none;
    font-size: 18px;
    color: #C6C6C6;
    margin-right: 1vw;
    padding: 0;
    opacity: 0.8;
}

.contact a:hover{
    color: #22C392;
    opacity: 1;
}

@media only screen and (max-width: 450px){
    .contact a{
        font-size: 20px;
        padding-right: 2vh;
    }
}

.copyright{
    font-size: 16px;
    color: #C6C6C6;
    opacity: 0.8;
    float: right;
}

.copyright span{
    color: #E6E6E6;
}

@media only screen and (max-width: 450px){
    .contact span{
        margin-top: 2vh;
    }
}

/* fixed height-width ratio */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------------------------------------------------------------ */
/* Project Footer */

.project .footer{
    position: relative;
    margin-top: 8vh;
    margin-bottom: 1vh;
}

.project .footer a{
    color: #1a1a1a;
    font-weight: 400;
}

.project .footer a:hover{
    color: #22C392;
    font-weight: 400;
}

.project span{
    color: #1a1a1a;
}